*.xml
*.mk
.\NUCLEO-H755ZI\ASGC_Farming_System\CM4\Debug\*
.\NUCLEO-H755ZI\ASGC_Farming_System\CM7\Debug\*
*.mxproject
*.project
*.ioc
.\NUCLEO-H755ZI\ASGC_Farming_System\CM4\.settings\*
.\NUCLEO-H755ZI\ASGC_Farming_System\CM&\.settings\*
/NUCLEO-H755ZI/ASGC_Farming_System/CM7/Debug
/NUCLEO-H755ZI/ASGC_Farming_System/CM4/Debug
/NUCLEO-H755ZI/ASGC_Farming_System/CM4/.settings
/NUCLEO-H755ZI/ASGC_Farming_System/CM7/.settings
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/ASGC_Farming_System_CM7.elf
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/ASGC_Farming_System_CM7.list
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/ASGC_Farming_System_CM7.map
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Common/Src/system_stm32h7xx_dualcore_boot_cm4_cm7.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Common/Src/system_stm32h7xx_dualcore_boot_cm4_cm7.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Common/Src/system_stm32h7xx_dualcore_boot_cm4_cm7.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Common/Src/system_stm32h7xx_dualcore_boot_cm4_cm7.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/AHT20.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/AHT20.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/AHT20.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/AHT20.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/Buttons.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/Buttons.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/Buttons.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/Buttons.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/CNC.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/CNC.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/CNC.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/CNC.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/FAN_pwm_intf.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/FAN_pwm_intf.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/FAN_pwm_intf.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/FAN_pwm_intf.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/FS_math.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/FS_math.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/FS_math.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/FS_math.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/GPIO_switching_intf.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/GPIO_switching_intf.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/GPIO_switching_intf.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/GPIO_switching_intf.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/main.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/main.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/main.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/main.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/mixing_motor.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/mixing_motor.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/mixing_motor.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/mixing_motor.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/SEN0169.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/SEN0169.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/SEN0169.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/SEN0169.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/SEN0244.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/SEN0244.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/SEN0244.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/SEN0244.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/stm32h7xx_hal_msp.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/stm32h7xx_hal_msp.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/stm32h7xx_hal_msp.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/stm32h7xx_hal_msp.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/stm32h7xx_it.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/stm32h7xx_it.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/stm32h7xx_it.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/stm32h7xx_it.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/syscalls.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/syscalls.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/syscalls.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/syscalls.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/sysmem.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/sysmem.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/sysmem.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/sysmem.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/timer.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/timer.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/timer.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Src/timer.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Startup/startup_stm32h755zitx.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Core/Startup/startup_stm32h755zitx.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_cortex.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_cortex.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_cortex.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_cortex.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_dma.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_dma.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_dma.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_dma.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_dma_ex.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_dma_ex.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_dma_ex.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_dma_ex.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_exti.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_exti.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_exti.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_exti.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_flash.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_flash.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_flash.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_flash.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_flash_ex.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_flash_ex.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_flash_ex.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_flash_ex.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_gpio.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_gpio.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_gpio.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_gpio.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_hsem.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_hsem.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_hsem.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_hsem.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_i2c.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_i2c.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_i2c.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_i2c.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_i2c_ex.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_i2c_ex.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_i2c_ex.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_i2c_ex.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_mdma.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_mdma.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_mdma.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_mdma.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_pwr.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_pwr.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_pwr.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_pwr.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_pwr_ex.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_pwr_ex.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_pwr_ex.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_pwr_ex.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_rcc.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_rcc.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_rcc.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_rcc.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_rcc_ex.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_rcc_ex.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_rcc_ex.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_rcc_ex.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_tim.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_tim.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_tim.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_tim.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_tim_ex.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_tim_ex.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_tim_ex.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_tim_ex.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_uart.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_uart.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_uart.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_uart.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_uart_ex.cyclo
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_uart_ex.d
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_uart_ex.o
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/Drivers/STM32H7xx_HAL_Driver/stm32h7xx_hal_uart_ex.su
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/makefile
NUCLEO-H755ZI/ASGC_Farming_System/CM7/Release/objects.list
